<header>
    <a href="/"><img src="/assets/logotype.png" alt="logotype" class="logotype"></a>

    <nav class="navbar">
        <ul>
            <li><a href="/room/joinRoom">Join Room</a></li>
            <li><a href="/room/createRoom">Create Room</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>