{{> head}}
{{> navbar}}

<div class="container">
<h1>Join Room</h1>

<form method="POST" action="/room/joinRoom">
    <label>Room ID</label>
    <input type="text" name="roomId">
    <button type="submit">Join</button>
</form>
</div>
