{{> head}}
{{> navbar}}

<div class="container">
<h1>Join Room</h1>

<form method="POST" action="/room/joinRoom">
    <label>Room ID</label>
    <input type="text" name="roomId">
    <input type="submit" value="Join">
</form>
</div>
