{{> navbar}}
{{> head}}

{{> fiddle}}

<!--
Here we should have a hbs if statement that fills the fiddle with
the deata from mongoDB
-->

<div class="container">
    <!-- In the list we should list all the sockets connected -->
    <div class="in-room-members">
        <ul>
            <li>
                Jesper
            </li>
            <li>
                Jesper2
            </li>
            <li>
                Jesper3
            </li>
            <li>
                Jesper4
            </li>
        </ul>
    </div>
    <button><a href="/">Leave</a></button>

</div>